name: Build EXE

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'  # استخدم إصدار Python المتوافق مع المكتبات

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install numpy
        pip install torch
        pip install torchvision
        pip install pillow
        pip install requests
        pip install tk
        pip install pyinstaller
        pip install opencv-python

    - name: Verify dependencies
      run: |
        python -m pip check  # للتحقق من أن جميع المكتبات متوافقة

    - name: Build EXE
      run: |
        pyinstaller --onefile --windowed -n captcha_solver main.py

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: captcha_solver_exe
        path: dist/captcha_solver.exe
